
select {
    appearance: none; /* hide initial element */
    -webkit-appearance: none; /* For Safari */
    -moz-appearance: none; /* For Firefox */
    text-align: center
  }

  
  select {
    text-align: center; /* Centers the text */
    text-align-last: center; /* Ensures the selected value is centered */
  }
 