@import "tailwindcss";

@theme {
    --color-primary-dark: #242020cc;
    --color-secondary-dark: #292626cc;
    --color-confirm-button: #3dd472cc;
    --color-confirm-button-hover: #32ac5dcc;
    --color-primary-light: #f8f4e5;
    --color-lemon: #c5e62fcc;
    --color-edit-button: #d57326;
    --color-edit-button-hover: #bb6522;
    --color-delete-button: #c83232;
    --color-delete-button-hover: #bb2d2d;
    --color-dark-text: #020920cc;

}